html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #eee;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
  font-size: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #333;
}

main {
  padding: 20px;
  background: #fff;
  flex-grow: 1;
}

header {
  padding: 0 20px;
  background: #369;
  color: #fff;

  a {
    color: #fff;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 -20px;
    position: relative;

    ul {
      display: flex;
    }

    li {
      padding: 10px;
      list-style: none;
    }
  }
}

/* --- HTML --- */

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin: 0 0 1rem 0;
}

ul {
  margin: 0 0 1rem 0;
}

li {
  margin: 0.25rem 0;
}

table,
tr,
th,
td {
  border: 1px solid #000;
}

table {
  width: 100%;
}

/* --- FORMS --- */

fieldset {
  display: flex;
  gap: 20px;

  select {
    width: 23%;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    background: #cce4ff;
    border-color: #aed2f5;
    border-width: 2px;
  }

  button {
    width: 8%;
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    background: #369;
    color: #fff;
    border-radius: 3px;
  }
}

/* --- Modules --- */

.wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* --- Modules --- */

.card,
.card-data {
  display: flex;
}

.card {
  margin: 20px 0;
  align-items: start;
  border-radius: 3px;
  padding: 20px;
  background: #ebf2f7;
}

.card-poster {
  width: 125px;

  img {
    width: 100%;
    max-width: 100%;
  }
}

.card-data {
  flex-wrap: wrap;
  align-items: start;
  width: calc(100% - 150px);
  padding: 0 20px;
}

.logged {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(20px + 0.5rem);
  text-align: center;
  background: #693;
  padding: 0.5rem 0.5rem;
}

.personsList {
  display: flex;
  flex-wrap: wrap;

  figure {
    width: calc(20% - 40px);
    text-align: center;
    margin: 20px;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
